*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    color: whitesmoke;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
   font-size: 35px;
   margin: 2% 25%;
   border: 2px solid rgba(0, 0, 0, 0.514);
   padding: 20px;
   box-shadow: 10px 10px;
   cursor: pointer;
  
}
.generate{
    height: 45px;
    width: 130px;
    margin: 1% 43%;
    background-color: pink;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.27);
}
.generate:hover{
    background-color: rgb(253, 215, 221);
}